/bin
/cmd
/doc
/lib
/annot.opcorpora.no_ambig_strict.xml
/COPYRIGHT
/FILES
/README
/README.script
/Release-Notes
/.get_treetagger.sh.swp
/.ipynb_checkpoints
/corpus_train.txt
/corpus_test.txt
/lexicon.txt
/model_oc
/open_class.txt
/output.txt
/demo.txt
